body {
    margin: 0;
}
#editor-container{
    width: 100%;
    position: relative;
}
#chart-container{
    position: relative;
    height: 300px;
}
#chart-container *{
   position: absolute;
   background-size: contain;
}
#app {
    position: relative;
}
#dragable {
    cursor: pointer;
}
.col-resize{
    cursor: col-resize;
}
 #control-container {
    margin-top: 10px;
 }
 path {
	stroke: black;
	stroke-width: 1;
}

pattern path {
	stroke: lightgrey;
	fill: none;
}
